#header-background{
  background-image: url("C:\Users\kreddy\Salesforce\Projects\GroupProject\images\HeaderBackground.jpg");
  width:100%;
  height:200px;
}
main{
  margin: 20px auto;
  padding:10px;
  border: 1 solid black;

}

form{
  text-align: center;
  margin: 20px auto;
  padding:10px;
  border: 1 solid black;
}
input{
  margin: 20px auto;
  padding:10px;
  border: 1 solid black;
}

input[type="submit"]{
  text-align: center;
  
  background-color: green;
}
section label{
  margin-right: 5px;
}
section input{
  margin: 20px;
}
.contactInformation{
  margin: 10px;
}
* {
  /* prevents an automatic margin causing white space */
  margin: 0px;
}


*{
  margin: 0px;
  padding: 0px;
}

body{
  /* background-image: linear-gradient(to right,rgb(25, 203, 188), blue); */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 30px;  	
 background-image:url("images/OIP.png");
 background-size: cover;
 background-color:rgb(145, 194, 198);
}


a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav{
  width: 100%;  
  margin-top: 50px;
  margin-bottom: 10px;
}

nav a {
  padding: 10px 100px;
  background-color: rgb(23, 134, 159);
  text-align: center;
  margin: 10px;
}
footer{
  text-align: center;
}