/*.container {
    display:grid;
    height:fit-content
    grid-template-columns: 1 fr 1 fr 1 fr;
    grid-template-rows: 5 fr 3 fr 1 fr 2 fr;
    grid-template-areas: 
    "ticket roundtrip headcount"
    "photo first last"
    "cc exp code"
    "footer footer footer";
    grid-gap: .4 rem;
}*/
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("spaceCity.png");
  
    /* Set a specific height */
    height: auto%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .responsive {
    max-width: auto;
    height: auto;
  }
 
.main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    border: 3px solid rgb(255, 0, 60);
    margin: 0;
    padding: 30%; 
    background-color: rgb(241, 197, 144);
}
.ticket {
    display: grid;
    width:100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1 fr 1 fr 2 fr 1 fr;
    gap: 10 px;
    border: 3px solid blue;
    margin: 10px;
    padding: 100 px;
    box-sizing: border-box;
    align-content: stretch;
    
    }

.contact {
    display: grid;
    width:100vw;
    grid-template-columns: repeat (2, 50%)
    grid-template-rows: repeat(4, 1 fr;
    grid-column-gap: .25 fr;
    grid-row-gap: .5 fr; 
    gap: 10 px;
    border: 3px solid blue;
    margin: 10px;
    padding: 30px; solid red;
    box-sizing: border-box;
        }

.checkout {
    display: grid;
    width:100%
    grid-template-columns: repeat (1, 100%)
    grid-template-rows: repeat(3, 100%);
     grid-row-gap: .5 fr; 
     gap: 10 px;
    border: 3px solid blue;
    margin: 10px;
    padding: 30px; solid red;
    box-sizing: border-box;

}

.ticket {background-color: rgb(252, 155, 8);
grid-area:ticket;}
.contact {background-color: aqua;
grid-area: fullName; contactInformation; health
}
payment {background-color;
grid-area: payment;}
footer {background-color: blueviolet;
grid-area: footer;}
/*@media only screen at (max-width:550px){
    .container{grid-template-columns: 1fr;
    grid-template-rows: :default;}*/
}


.buttonClass {
    font-size:22px;
    font-family:Arial Black;
    width:154px;
    height:64px;
    border-width:1px;
    color:#fff;
    border-color:#599bb3;
    font-weight:bold;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: 0px 10px 14px -7px #276873;
    text-shadow: 0px 1px 0px #3d768a;
    background:linear-gradient(#599bb3, #408c99);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#408c99, #599bb3);
  }
                